
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap);


@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap);


$WidthSwitch: 767px;


$Color_Main: rgb(192, 0, 0);
$Color_Second: rgb(192, 0, 0);
$Stroke_Thin: 1px;

$Font_Title: 'Work Sans';
$Font_Main: 'Work Sans', sans-serif;
$Weight_Title_Heavy: 500;
$Weight_Title_Light: 300;

$Font_P: 'Roboto Slab', serif;
$Font_Code: 'Roboto Mono', monospace;


$MarginWidth: 4%;
$MarginWidthN: 80px;

$LinkHoverColor: #ef473a;
$LinkColor: $Color_Main;

$BorderCheck: 0px solid black;

$BurgerSize: 40px;


$BasicWidth: 1200px;
$CardSizeX: 400px;
$MinSize: $BasicWidth;




$Frame2: $BasicWidth;
$Frame1: $Frame2/2;


$MarginLimit: $MarginWidthN * 2 + $BasicWidth;

// when the centre container starts shrinking make a change

//Colors

//Table Colors
$TC1: #05668d;
$TC2: #028090;
$TC3: #00a896;
$TC4: #02c39a;
$TC5: #364958;
$TC6: #586d7e;
$TC1L: #05668d41;
$TC2L: #87bba280;
$TC3L: #63d0e680;
$TC4L: #02c39a80;
$TC5L: #36495880;
$TC6L: #586d7e80;

