
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap);

$Color_Main: rgb(192, 0, 0);
$Stroke_Thin: 1px;

$Font_Title: 'Work Sans';
$Weight_Title_Heavy: 500;
$Weight_Title_Light: 300;

$MarginWidth: 4%;
$MarginWidthN: 60px;
