
@import "basics.scss";

  .Wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }

  .Expand{
    height:10px;
    flex-grow: 1;
    
}


  .HeaderStyle{
    height: 100px;
  }

  .test {
    color: $Color_Main;
    font-family: 'Work Sans';
  }

  .PrimaryContainerHeader{
    width: 100%;
    background-color: white;
    z-index: 2;
    // border: 1px solid red;
    display: flex;
    
  }

  .PrimaryContainer{
    width: 100%;
    // border: 1px solid red;
    display: flex;
    background-color: white;
    z-index: 2;
    
  }
  .CenterContainer{
    border: 1px solid blue;
    width: $BasicWidth;
    flex-shrink: 1;
    
  }
  .CenterContainer_Blog{
    padding: 20px;
    padding-top: 20px;
    width: 900px;
    flex-shrink: 1;
  }

  .LeftContainer{
    flex-grow: 1;
    min-width: $MarginWidthN;
    background-color: white;
    z-index: 2;
  }
  .RightContainer{
    // border: 1px solid blue;
    flex-grow: 1;
    min-width: $MarginWidthN;
    background-color: white;
    z-index: 2;
    
  }
