

@import "basics.scss";




.BurgerCentre{
    height:100%;
}









.Ham{
    display: none;
}

@media (max-width: 767px) {
    .Ham{
        display: inherit;
        height: 30px;
        
    }
}
