
@import "../scss/basics.scss";

@import "../scss/styles.scss";

$NavButtonHeight: 30px;
$NavContainerHeight: 50px;


.DropDisapear{
    width: 100%;
    position: relative;
}
@media (max-width: 767px) {
    .DropDisapear{
        position: relative;
        display: inherit;
        
        width: 100%;
        
    }
}

@media (min-width: 767px) {
    .DropDisapear{
        position: relative;
        display: none;
        width: 100%;
    }
}

.NavContainerDown{      
    position: relative;
    top: 0px; 
    width: 100%;
     
    border: 1px solid red;
    padding: 0px;
}

.NavButtonDown{
    
    background-color: cornflowerblue;
}

.NavCentreDown{
    position: relative;
    width:inherit;
    top: 0px;
    line-height: $NavButtonHeight;
    white-space: nowrap;
    text-align: center;
    background-color: white;
  }




.NavButtonHeightDown {
    height: $NavButtonHeight;
    width: 100%;
    position: relative;
    top: 0%;
    margin-top:0;
    text-align: center;
    vertical-align: middle;
    transition: ease-in-out 0.12s;
}

.NavButtonHeightDown{
    &:hover {
        top: 50%;
        margin-top: -$NavButtonHeight/6 ;
        transition: ease-in-out 0.12s;
    }
}




.NavContainer{
    height: $NavContainerHeight;
    width: 100% ;
    border-bottom: $Stroke_Thin solid $Color_Main;
}



@media (max-width: 767px) {
    .NavButton{
        display: none;
    }
    .NavContainer{
        height: 10px;
    }
}



.NavButtonHeight{
    width: 100%;
}

@media (min-width: 767px) {
    .NavContainer{
        height: $NavContainerHeight;
        width: 100% ;
        display: flex;
        padding-top: 10px;

    }

    .NavButton {
        flex-grow: 1;
        text-align: center;
        height: 100%;
    }
    
    .NavEmptyHeight{
        position:relative;
        height:100%;
    }
    
    .NavCentre{
        line-height: $NavButtonHeight;
        white-space: nowrap;
        text-align: center;
      }
    
    .NavButtonHeight{
        height: $NavButtonHeight;
        width: 100%;
        position: relative;
        top: 50%;
        margin-top:-$NavButtonHeight/2  ;
        text-align: center;
        vertical-align: middle;
        transition: ease-in-out 0.12s;
    }
    
    .NavButtonHeight{
        &:hover {
            top: 50%;
            margin-top: -$NavButtonHeight/2 - $NavButtonHeight/6 ;
            transition: ease-in-out 0.12s;
        }
    }
}


.DropContainerUp{
    z-index: 1;
    position: absolute;
    transform:translateY(-100%);
    transition: ease-in-out .3s;
    
    width: 100%;
}

.DropContainerDown{
    z-index: 1;
    position: absolute;
    transition: ease-in-out .3s;
    width: 100%;
}


.zBoost{
    position: relative;
    z-index: 4;
    background-color: white;
    
}







